@model List<User>
    <div class="bg-white p-4 rounded">
        <h2 class="h5 mb-4">Users</h2>
        <ul class="list-unstyled ">
            @foreach(var user in @Model)
            {
            <li><a  asp-route="posts_by_user" asp-route-user="@user.UserName" class="text-decoration-none">@user.Name</a></li>
            }
        </ul>

    </div>
