@model List<Post>


    <div class="bg-white p-4 rounded">
        <h2 class="h5 mb-4">New Posts</h2>
        <ul class="list-unstyled ">
            @foreach(var post in @Model)
            {
            <li><a asp-route="post_details" asp-route-url="@post.PostUrl" class="text-decoration-none">@post.PostName</a></li>
            }
        </ul>

    </div>